.red{
    color: red;
}

.blue{
    color: blue;
}

.div{
    border: black;
    background-color: pink;
}

/* 
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px auto;
    max-width: 400px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
} */
